.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loader {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  

  